.icon-48-domains {
      background-image: url(../images/l_domains.png);
      padding-left:60px!important;
}

.icon-48-domain {
      background-image: url(../images/l_domains.png);
      padding-left:60px!important;
}

.color-box-domains { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-behaviors {
      background-image: url(../images/l_behaviors.png);
      padding-left:60px!important;
}

.icon-48-behavior {
      background-image: url(../images/l_behaviors.png);
      padding-left:60px!important;
}

.color-box-behaviors { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-environments {
      background-image: url(../images/l_environments.png);
      padding-left:60px!important;
}

.icon-48-environment {
      background-image: url(../images/l_environments.png);
      padding-left:60px!important;
}

.color-box-environments { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-kinematics {
      background-image: url(../images/l_kinematics.png);
      padding-left:60px!important;
}

.icon-48-kinematic {
      background-image: url(../images/l_kinematics.png);
      padding-left:60px!important;
}

.color-box-kinematics { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-vehicles {
      background-image: url(../images/l_vehicles.png);
      padding-left:60px!important;
}

.icon-48-vehicle {
      background-image: url(../images/l_vehicles.png);
      padding-left:60px!important;
}

.color-box-vehicles { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-pairs {
      background-image: url(../images/l_pairs.png);
      padding-left:60px!important;
}

.icon-48-pair {
      background-image: url(../images/l_pairs.png);
      padding-left:60px!important;
}

.color-box-pairs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-sightings {
      background-image: url(../images/l_sightings.png);
      padding-left:60px!important;
}

.icon-48-sighting {
      background-image: url(../images/l_sightings.png);
      padding-left:60px!important;
}

.color-box-sightings { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-medias {
      background-image: url(../images/l_medias.png);
      padding-left:60px!important;
}

.icon-48-media {
      background-image: url(../images/l_medias.png);
      padding-left:60px!important;
}

.color-box-medias { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-witnesses {
      background-image: url(../images/l_witnesses.png);
      padding-left:60px!important;
}

.icon-48-witnesse {
      background-image: url(../images/l_witnesses.png);
      padding-left:60px!important;
}

.color-box-witnesses { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}